html,
body {
  height: 100vh;
}

body {
  overflow: hidden;
}

body,
button {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
}

input,
button {
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}
